#chart {
  position: absolute;
  left: 60px;
  background-color:white;
  transform: scale(1, -1);
}

#chartLine {
  position: relative;
  left: 50px;
  transform: scale(1, -1);
}

#chartText {
  position: absolute;
  left: 50px;
}

#innerX {
  position: relative;
  left: 50px;
}

#tableDiv {
  border: solid 1px;
  display: block;
}

#innerDuplicationSearchMessage {
  color: red;
}
